@import './base.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* min-height: 100vh; */
  background-color: var(--color-background);
}

#app {
  min-height: 100vh;
  /* overflow: hidden; */

}


@keyframes fly-in {
  from {}

  to {
    transform: translateX(0);
  }
}

.neum {
  border-radius: 50px;
  background: var(--color-background);
  box-shadow: 20px 20px 60px var(--btn-hover),
    -20px -20px 60px var(--btn-left-top-shadow);
  color: var(--color-font);
}

.neum-hover {
  transition: 0.5s;
}

.neum-hover:hover {
  background-color: var(--btn-hover);
}

.neum-active:active {
  box-shadow: inset 2px 2px 6px var(--btn-hover),
    inset -2px -2px 6px var(--btn-left-top-shadow);
}

input.neum {
  border: none;
  border-radius: 8px;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 12px #bebebe,
    inset -6px -6px 12px #ffffff;

  text-align: center;
}


/* 滚轮 */
body::-webkit-scrollbar {
  width: 0.2em;
  /* background-color: #F5F5F5; */
  /* position: absolute; */
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}

body::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}